<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ZusiMeter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ZusiMeter.Properties.Settings>
            <setting name="cbGrunddaten" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cbSchalterst" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cbBremsen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cbAFBLZB" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cbRailrunner" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="tbServer" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="tbPort" serializeAs="String">
                <value>1435</value>
            </setting>
            <setting name="cbGeschwindigkeit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cbStreckenmeter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cbFahrstufe" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cbLmschleudern" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cbPZBLM" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cbLmsifa" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cbTueren" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cbTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cbBrh" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cbDruckhll" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cbDruckbz" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cbDruckhbl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cbDruckhlb" serializeAs="String">
                <value>False</value>
            </setting>
        </ZusiMeter.Properties.Settings>
    </userSettings>
</configuration>