<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ZusiMeter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ZusiMeter.Properties.Settings>
            <setting name="cbGrunddaten" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cbSchalterst" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cbBremsen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cbAFBLZB" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cbRailrunner" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="tbServer" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="tbPort" serializeAs="String">
                <value>1435</value>
            </setting>
            <setting name="cbGeschwindigkeit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cbStreckenmeter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cbFahrstufe" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cbLmschleudern" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cbPZBLM" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cbLmsifa" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cbTueren" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cbTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cbBrh" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cbDruckhll" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cbDruckbz" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cbDruckhbl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cbDruckhlb" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cbFbv" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cbDynbremse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rbRRfrei" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cbZusbremse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="numRRfest" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="cbRRSound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cbRRautoreset" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cbRRcountdown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cbRRcountup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cbFahrstufenschalter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="numFahrschneutral" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cbAFBgeschw" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cbLZBvsoll" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cbLZBvziel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cbLZBweg" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cbAFBVorwahl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rbAFBvor5" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cbLZBlm" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rbUnitkm" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rbUnitkph" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="numSifagroesse" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="cbSettingsSeparate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cbTopmost" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cbHidesettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cbFokusFahrtzurueck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cbFokusImmerzurueck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SettingsForm" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="cbHauptsch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cbMotorsch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cbFahrtrichtg" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cbSchleuderschutz" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cbSanden" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cbLuefter" serializeAs="String">
                <value>False</value>
            </setting>
        </ZusiMeter.Properties.Settings>
    </userSettings>
</configuration>